<div class="panel" id="configurations">

    <div class="panel-section panel-section-header">

        <a class="button-back" href="#main"></a>
        <div class="text-section-header">Manage Configurations</div>

    </div>

    <div class="panel-section panel-section-body">

        <div class="panel-section panel-section-list" id="config_list">

            <a class="panel-list-item" id="create_config">
                <div class="text">Create Configuration</div>
                <div class="icon plus"></div>
            </a>

            <a class="panel-list-item" href="#import_config">
                <div class="text">Import Configuration</div>
                <div class="icon arrow-right"></div>
            </a>

            <a class="panel-list-item" href="#export_configs">
                <div class="text">Export Configuration(s)</div>
                <div class="icon arrow-right"></div>
            </a>

            <div class="panel-section-separator"></div>

            <div class="panel-list-item" ng-repeat="config in configs" ng-class="{'text-muted': config.Enabled}">
                <div class="text">{{config.Name}}</div>
                <div class="button-bar">
                    <a class="button button-icon button-edit" ng-click="editConfig(config)"></a>
                    <a class="button button-icon button-delete" ng-click="deleteConfig(config)"></a>
                    <a class="button button-icon button-toggle" ng-class="{'button-disable': config.Enabled, 'button-enable': !config.Enabled}" ng-click="toggleConfig(config)"></a>
                </div>
                <div class="overlay">
                    <div class="text">Are you sure?</div>
                    <div class="button-bar">
                        <a class="button">Yes</a>
                        <a class="button">No</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
